body {
    width: 100%;
}
#about {
    width: 100%;
    padding-bottom: 50px;
}
#canvas {
    position: absolute;
    /*background-color: rgb(20, 33, 61);*/
    background-color: #0b132b;
    z-index: 1;
}
/* Intro Section */
#intro_section {
    height: 100vh;
}
.intro_container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
    text-align: center;
}

#intro_text {
    line-height: 1.2;
    max-width: 85%;
    text-align: center;
}
#mission {
    margin: 0 2vw 0 2vw;
}
#mission .big {
    font-size: 2.5em;
}
#intro_text h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 7em;
}
#intro_text h2 {
    margin-top: 0px;
}
.line {
    color: #e0fbfc;
    background: #e0fbfc;
    width: 8vw;
    height: 2px;
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.stat {
    margin-top: 3vh;
    text-align: center;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    margin-left: 4vw;
    margin-right: 4vw;
}
.stat span {
    animation: topToBottom 12.5s linear infinite 0s;
    -ms-animation: topToBottom 12.5s linear infinite 0s;
    -webkit-animation: topToBottom 12.5s linear infinite 0s;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    font-size: 2em;
    opacity: 0;
}
.stat span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.stat span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}
.stat span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}
.stat span:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
}

@-moz-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    12% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    15% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    20% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    12% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    15% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -ms-transform: translateY(-50px);
    }
    12% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    15% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    20% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -ms-transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20vh;
}
.icon-container {
    width: 35px;
}
.icon-container img {
    position: relative;
    padding: 10px;
}
.icon-container img {
    width: 100%;
}

#icons a {
    pointer-events: auto;
}
/* menu */
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    text-align: right;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    transition: height 0.2s ease-out;
    height: 0px;
    overflow: hidden;
    background-color: #3a506b;
}
.topnav a {
    position: absolute;
    z-index: 2;
    right: 0;
    padding: 14px 16px;
}

/* Style navigation menu links */
.topnav #myLinks a {
    position: relative;
    z-index: 2;
    right: 0;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav .burger-img-container {
    margin-left: auto;
    width: 32px;
    height: 32px;
}
.topnav .burger-img {
    background-image: url("../img/icon/burger-menu.png");
    width: 100%;
    height: 100%;
}

/* top menu */
#menu {
    position: fixed;
    justify-content: flex-end;
    z-index: 2;
    opacity: 1;
    top: 0%;
    pointer-events: none;
    transition: top 0.3s;
    padding: 8px 0px;
    width: 100%;
    display: none;
}
#menu .menu-item {
    margin-right: 3em;
    pointer-events: auto;
}
#menu .menu-item a:after {
    display: block;
    content: "";
    border-bottom: #e0fbfc solid 2px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
#menu .menu-item a:hover:after {
    transform: scaleX(1);
}
#menu .menu-item:first-child {
    margin-right: auto;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
#menu .menu-item .button-container {
    padding: 0 15px;
    border: #e0fbfc solid 2px;
    transition: 0.2s;
}
#menu .menu-item p {
    margin: 10px;
}
#menu .menu-item:hover p {
    color: #ffffff;
}
#menu .menu-item:first-child a:after,
#menu .menu-item:last-child a:after {
    display: none;
}
#menu .menu-item:last-child .button-container {
    border-radius: 20px;
}
#menu .menu-item:last-child .button-container:hover {
    background-color: #5bc0be;
}
#menu .menu-item .button-container:hover p {
    color: #ffffff;
}
#menu .logo-container {
    width: 100px;
}
#menu .logo-container img {
    width: 100%;
}
#menu .menu-item:first-child a:after {
    display: none;
}

/* About Section */
#about {
    background-color: #5bc0be;
}
.about_container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.about-me {
    margin-bottom: 6.5em;
}
.profile_container {
    width: 100%;
    border-radius: 20px;
    position: relative;
    padding: 20px 0;
    background-color: #1c2541;
}
.profile-image-container {
    margin: auto;
    margin-top: -6.5em;
    width: 200px;
    height: 200px;
}
#profile_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #5bc0be;
    background-image: url("../../asset/img/profile1.png");
    background-size: cover;
}
.me {
    text-align: center;
    margin: 35px;
}
#contact_button {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #5bc0be;
    font-weight: 800;
    font-size: 18px;
    padding: 10px 30px;
}

#contact_button:hover {
    background-color: #3a506b;
    transition: 0.2s;
}

#contact_button span {
    font-size: 14px;
    font-weight: bold;
    color: #e0fbfc;
}

/* chain */
#chain-container {
    display: flex;
    justify-content: space-around;
}
#chain-container .chain {
    border-left: 10px dotted #333;
    height: 100px;
}
#skill {
    margin: 20px 0;
    text-align: center;
}
.skills {
    column-count: 2;
    min-height: 200px;
}
.la {
    min-height: 55px;
    max-height: 55px;
}
.skills ul,
.skills ul li:first-of-type p {
    margin-top: 0px;
}
/* Experience section*/
#timeline {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #3a506b;
}
#timeline:hover .tl-item {
    height: 250px;
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    margin: 20px 10px;
    height: 250px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
    border-radius: 20px;
}

.tl-item:before,
.tl-item:after {
    transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #3a506b;
}

.tl-item:after {
    background: #5bc0be;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateX(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
    height: 250px;
}

.tl-item:hover:after {
    opacity: 0;
}

.tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateX(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-title {
    opacity: 0;
}

.tl-content {
    position: relative;
    z-index: 1;
    text-align: center;
    opacity: 0;
    padding: 0 15px;
}
.tl-content .work-description {
    list-style: none;
    padding-left: 0;
}
.tl-content .work-description li {
    margin: 15px 0;
}
.extra-info {
    opacity: 0;
}
.tl-title {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    width: 70%;
}
.tl-year p {
    line-height: 0;
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0b132b;
}
.arrow-container {
    width: 15px;
    cursor: pointer;
    height: 10px;
    transform: translate3d(0, 0, 0) translateX(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    opacity: 1;
    right: -20%;
    margin: auto;
}
.arrow {
    height: 6px;
    background: #fff;
    transform: rotate(135deg);
    transform-origin: 0% 0%;
    border-radius: 5px;
}
.arrow:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: #fff;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
}

/*  Work Section */
#work {
    height: auto;
    background-color: #304b7a;
}
.work-container {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
}

.work-project {
    display: flex;
    border-bottom: 1px solid aliceblue;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.work-project .work-img {
    cursor: pointer;
    transition: 0.3s;
}
.work-img1 {
    max-width: 100%;
}

.work-project img:hover {
    opacity: 0.7;
}

.gallery-con {
    width: 50%;
    display: block;
    margin: auto;
    flex: 1;
}

.gallery-con img {
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
    width: 200px;
}

.gallery-con img:hover {
    box-shadow: 0 0 32px #333;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    opacity: 1;
    transition: 0.3s;
}

.modal-pic {
    margin: auto;
    display: block;
    max-width: 700px;
    width: 200px;
}
.close {
    position: fixed !important;
}

.description {
    padding-left: 15%;
}
.modal-section {
    display: flex;
}
.modal-content-con {
    margin: auto;
    width: 70%;
}
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-pic,
.caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
.main-description {
    margin-left: 10%;
    flex: 3;
}

.project-title {
    text-align: center;
}

.description {
    color: #c2dfe3;
}
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*Contact information*/
#contact {
    background-color: #008683;
}

.contact-container {
    width: 100%;
    height: 80%;
}

.contact-content {
    text-align: center;
}
.contact-content a {
    width: 50%;
}

a {
    text-decoration: none;
    pointer-events: stroke;
}

p {
    color: #c2dfe3;
    font-size: 18px;
}

h1 {
    color: #e0fbfc;
}

h2 {
    color: #e0fbfc;
}
h3 {
    color: #e0fbfc;
}
html,
body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
.title {
    width: auto;
    height: fit-content;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 40px;
}

* {
    font-family: "Monda", sans-serif;
}
