/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #menu p {
        font-size: 14px;
    }
    #intro_text {
        font-size: 10px;
    }
    #intro_text h1 {
        font-size: 4.8em;
    }
    #intro_text h2 {
        font-size: 1.8em;
    }
    #intro_section {
        height: 100vh;
    }
    #canvas {
        height: 100vh;
        width: 100%;
    }
    .profile-image-container {
        width: 150px;
        height: 150px;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 14px;
    }
}
@media only screen and (min-width: 400px) {
    .tl-item {
        margin: 20px 35px;
    }
}
@media only screen and (min-width: 486px) {
    .first {
        opacity: 1;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #menu p {
        font-size: 16px;
    }
    #intro_text {
        font-size: 12px;
    }
    #intro_text h1 {
        font-size: 5em;
    }
    #intro_text h2 {
        font-size: 2em;
    }
    .profile-image-container {
        width: 170px;
        height: 170px;
    }
    .about_container {
        margin: 0 30px;
    }
    h3 {
        font-size: 1.2em;
    }
    p {
        font-size: 16px;
    }
    .tl-item {
        margin: 20px 55px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about_container {
        margin: 0 40px;
    }
    .tl-item {
        margin: 20px 85px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #menu p {
        font-size: 18px;
    }
    #intro_text {
        font-size: 14px;
    }
    #intro_text h1 {
        font-size: 5em;
    }
    #intro_text h2 {
        font-size: 2em;
    }
    .profile-image-container {
        width: 200px;
        height: 200px;
    }
    .about_container {
        margin: 0 50px;
    }
    h3 {
        font-size: 1.4em;
    }
    p {
        font-size: 18px;
    }

    #about,
    #timeline,
    #work {
        padding-bottom: 100px;
    }
    .tl-item {
        margin: 20px 105px;
    }
    .all {
        opacity: 1;
    }
    #chain-container .chain {
        border-left: 15px dotted #333;
        height: 140px;
    }

    #menu {
        display: flex;
    }
    .topnav {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about_container {
        margin: 0 70px;
    }
    .tl-item {
        margin: 20px 200px;
    }
}

@media (max-width: 1920px) {
    #profile_img_small {
        display: none;
    }
}

@media screen and (min-device-width: 1200px) {
    /* profile section */
    .about_container {
        padding: 0 8em;
    }
}
