@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #menu p{
        font-size: 14px;
    }
    .intro_container{
        top:40%;
    }
    #intro_text{
        max-width: 100%;
        font-size: 10px;
    }
    #intro_section{
        height:80vh;
    }
    #canvas{
        height: 80vh;
        width: 100%;
    }
    #profile_img{
        width: 60vw;
        margin: auto;

    }
    .progress{
        display: none;
    }

    #eline.lineright{
        width:80%;
    }
    .profile_right{
        padding:5vw;
    }
    .content_container {
        width: 150px;
    }
    .content_container .content {
        width: 200%;
    }
    .experience_container{ 
        margin-left: 4em;
        margin-right: 4em;
    }
    .vline:nth-of-type(5) {
        margin-left: 69%;
    }
    .description{
        display:none;
    }
    .content_container{
        padding-top: 35px;
    }
    .project-title{
        text-align: left;
    }
    .about_container{
        flex-direction: column;
    }
    #work p{
        font-size: 12px;
    }
    .main-description{
        margin-left:5%;
    }
    .gallery-con{
        width:200px;
        /* margin-top: 12vh; */
    }
    .work-project{
        display: block;
    }
    #skills ul{
        list-style: square;
    }
    .contact-container {
        height: 80vh;
        font-size: 3vw;
    }
    .content_container h2{
        font-size: 14px;
    }
    #contact_button{
        margin:80px auto;
    }
    .work-project{
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    .work-project .description{
        display: block;
    }
    .work-project .description p{
        font-size: 12px !important;
    }
    .modal-pic{
        width: 25vw;
        margin-top:5vw;
    }
    #profile_img{
        display:none;
    }
    #profile_left_container{
        width: 80vw;
        margin: auto;  
    }
    #profile_img_small{
        width:80vw;
    }
    #profile_right_container{
        width: 80vw;
        margin: auto;
        margin-top: 20px;
    }
    .vline:nth-of-type(5) {
        margin-left: 80%;
    }
    .vline:nth-of-type(4) {
        margin-left: 59%;
    }
    .vline:nth-of-type(3) {
        margin-left: 35%;
    }
    .vline:nth-of-type(2) {
        margin-left: 15%;
    }
    #eline.lineright {
        width: 100%; 
    }
    .flex_container {
        height: auto;
        margin:0;
        font-size: 10px;
    }
    .experience_container {
        margin-left: 0;
        margin-right: 0; 
        background:none; 
    }
    .content_container{
        width: 17%;
    }
    #contact_button h1{
        font-size: 30px;
    }
    
  }
@media only screen 
and (min-device-width: 1000px) 
and (max-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 2) {
    #profile_img{
        display:none;
    }
    #profile_img_small{
        flex:unset;
        width: 48vw;
    }
    .profile_left{
        flex: 2;
    }
    .content_container {
        padding-top: 0px;
    }
    .description{
        display: block;
    }
   
    #profile_img_small {
        width: 40vw;
    }
    .gallery-con {
        width: 120vw;
        margin-top: 10vw;
    }
    .content_container .content{
        width: 100%;
    }
    .vline:nth-of-type(5) {
        margin-left: 65%;
    }
    .vline:nth-of-type(4) {
        margin-left: 45%;
    }
    .vline:nth-of-type(3) {
        margin-left: 25%;
    }
    .vline:nth-of-type(2) {
        margin-left: 10%;
    }
    #eline.lineright {
        width:75%;
    }
    .content_container{
        font-size: 11px;
    }

}
@media (max-width: 1920px) {
    #profile_img_small{
        display:none;
    }
}




@media screen and (min-device-width: 1600px) {
    /* Experience Section */

    #profile_img_small{
        display:none;
    }
    .experience_container{ 
        margin-left: 4em;
        margin-right: 4em;
    }
    .flex_container{
        
    }
        .content_container{
            width:220px;
        }
        .content_container .content{
            width:400px;
        }
            .vline:nth-of-type(2) {
                margin-left:14%;
            }
            .vline:nth-of-type(4) {
                margin-left:50%;
            }
            .vline:nth-of-type(5) {
                margin-left:69%;
            }
        }

