
@media (max-width: 1920px) {

}




@media (max-width: 1600px) {
    /* Experience Section */

    .experience_container{ 
        margin-left: 4em;
        margin-right: 4em;
    }
    .flex_container{
        
    }
        .content_container{
            width:220px;
        }
        .content_container .content{
            width:400px;
        }
            .vline:nth-of-type(2) {
                margin-left:14%;
            }
            .vline:nth-of-type(4) {
                margin-left:50%;
            }
            .vline:nth-of-type(5) {
                margin-left:69%;
            }
}